USE [Prueba]
GO
/****** Object:  Table [dbo].[ESTADOS_FACTURA]    Script Date: 20/12/2022 5:20:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADOS_FACTURA](
	[CODI_ESTADO] [numeric](2, 0) IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](20) NOT NULL,
 CONSTRAINT [PK_ESTADOS_FACTURA] PRIMARY KEY CLUSTERED 
(
	[CODI_ESTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
